@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{ 
    font-family: 'Poppins', sans-serif;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


header{
        justify-content: space-between;
        width: 100%;
        background-color: rgb(242, 236, 238);
        position: fixed;
        align-items: center;
        display: flex;
        padding: 10px 200px;
        z-index: 999;
}       



.logo{ 
      text-decoration: none;
      color: rgb(39, 21, 239);
      font-weight: 800;
      text-transform: uppercase;
      font-size: 1,8em;
}


.navigation a{
            color: rgb(39, 21, 239);
            font-size: 1,1em;
            font-weight: 500;
            padding-left: 30PX;    
            text-decoration: none;
        }



.navigation a:hover{
    color: rgb(247, 10, 10);
}



section{
      padding: 70px 200px;
}


.main{
     display: flex;
     width: 100%;
     align-items: center;
     min-height: 100vh;
     background: url(images/pexels-pixabay-531880.jpg);
     background-size: cover;
     background-position: center;
     background-attachment:fixed;
}



.main h2{
    font-weight: 500;
    font-size: 1,4em;
    color: rgb(247, 236, 236);
}



.main h2 span{
   display: inline-block;
   font-size: 3em;
   font-weight: 600;
   margin-top: 10px;
   color:rgb(250, 6, 6) ;     
}



.main h3{
   font-size: 2em;
   font-weight: 700;
   color:rgb(248, 245, 245) ;
   margin-bottom: 10px;
   letter-spacing: 1px;
}


 
.main-btn{
   text-decoration: none;
   font-size: 1,1em;
   font-weight: 600;
   background-color:rgb(250, 6, 6) ;
   margin-bottom: 20px;
   margin-top: 2opx ;
   display: inline-block;
   padding: 15px 30px;
   color: white;
   letter-spacing: 1px;
   border-radius: 13px;
   transition: .7s ease;
} 



.main-btn:hover{
   background-color:rgb(139, 6, 6) ;
   transform: scale(1.1);    
}



.social-icons a{
    color: rgb(250, 242, 242);
    font-size: 1.7em;
    padding-right: 30px;
}



.title{
       display: flex;
       justify-content: center;
       font-weight: 800;
       font-size: 2.2em;
       color: rgb(250, 6, 6);
       margin-bottom: 30px;
}



.content {
       display: flex;
       justify-content: center;
       flex-direction: row;
       flex-wrap: wrap;   
}




.card {
      background-color: white;
      width: 21.25em;
      box-shadow: 0 5px 25px rgba(1 1 1/ 15%);
      border-radius: 10px;
      padding: 25px;
      margin: 15px;
      transition: .7s ease;
}


.card:hover{
      transform:scale(1.1);
 }
      





.icons{
      font-size: 8em;
      text-align: center;
      color: rgb(240, 10, 10);
}


.info{
      text-align: center;
}


.info h3{
      text-align: center;
      margin: 10px;
      color: rgb(235, 11, 11);
}




.projects{
      background-color: rgb(6, 6, 6);
}



.projects .content{
      margin: 30px;
}


.project-card{
      background-color: white;
      min-height: 14em;
      width: 20em;
      overflow: hidden;
      border: 1px solid rgb(247, 244, 244);
      border-radius: 10px;
      margin:20px;
      transition: 0.7s ease;
}



.project-card:hover{
      transform: scale(1.1);
}

.project-image img{
      width: 100%;

}


.project-card:hover .project-image{
      opacity: 0.9;
}



.project-info{
      padding: 1em;      
}


.project-category{
      font-size: 0.8em;
      color: #000;
}



.project-title{
      display: flex;
      justify-content: space-between;
      margin-top:10px;
      font-weight: 800;
      text-transform: uppercase; 
}     



.more-details{
        text-decoration: none;
      color: rgb(250, 6, 6);
} 


.more-details:hover{
      color: rgb(101, 22, 4);
}



.contact .icons{
      font-size: 5em;
}




.contact .info .h3{
     color: #000;
}





.footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: rgb(3, 3, 3);
      padding: 1.4em;
      color: antiquewhite;
}



.footer-title{
      font-weight: 600;
      font-size: 1.3em;
      letter-spacing: 2px;
}



.footer-title span{
      color: rgb(250, 6, 6);
}


.footer .social-icons a{
      padding: 0 12px 0 0;
      font-size: 1.3em;
}




@media (max-width:1023px){
      header {
            padding: 12px 20px;
      }

      .navigation a{
            padding-left: 10px;
      }
      
      .title {
            font-size: 1.8em;
      }

      section{
            padding: 80px 20px;
      }

      .main-contant h2{
            font-size: 1em;
      }

      .main-contant h3{
            font-size: 1.6em;
      }

      .contant{
            flex-direction: column;
            align-items: center;
      }

}




@media (max-width:641px){
      body{
            font-size: 12px;

      }

      .main-contant h2{
            font-size: 0.8em;
      }

      .main-contant h3{
            font-size: 1.4em;
      }
}




@media (max-width:300px){
      body{
            font-size: 10px;
      }
}